POSTGRES_DB=rurik_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

SERVER_PORT=3000
CLIENT_PORT=5173

JWT_SECRET=supersecretjwtkey
COOKIE_NAME=token
NODE_ENV=development

LEADERBOARD_PORT=3001
GAME_PORT=3002

# IP или DNS центрального Loki из monitoring-проекта
LOKI_URL=http://192.168.1.50:3100/loki/api/v1/push

# PostgreSQL exporter
POSTGRES_EXPORTER_PORT=9187

# Node exporter
NODE_EXPORTER_PORT=9100

# cAdvisor
CADVISOR_PORT=18080

# Nginx exporter
NGINX_EXPORTER_PORT=9113

# Docker root directory.
# Check on target host:
# docker info | grep "Docker Root Dir"
#
# Common Linux server:
DOCKER_ROOT_DIR=/var/lib/docker

# Local Snap Docker example:
#DOCKER_ROOT_DIR=/var/snap/docker/common/var-lib-docker

COMPOSE_PROJECT_NAME=rurik_local

AUTH_SERVICE_IMAGE=rurik-auth-service:local
LEADERBOARD_SERVICE_IMAGE=rurik-leaderboard-service:local
GAME_SERVICE_IMAGE=rurik-game-service:local
CLIENT_IMAGE=rurik-client:local

GATEWAY_HTTP_PORT=8080